<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>${title}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<!-- Create the navigation header -->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Team 12</li>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/admin.html">Admin</a></li>
        </ul>
    </div>
</div>
